extends layout

block content

    h1 Checked Out Books
    p
      a.button(href='new_book') Create New Book
    p
      | Filters 
      a(href='all_books') All
      |  
      a(href='overdue_books') Overdue
      |  
      a(href='checked_books') Checked Out
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each returnedBook in returnedBooks
            tr
              td
                a(href='book_detail/' + returnedBook.book.id)= returnedBook.book.title 
              td= returnedBook.book.author 
              td= returnedBook.book.genre 
              td= returnedBook.book.first_published 